<!-- <app-phone-post></app-phone-post> -->

<ul><br>
  <li><button (click)="showNewProduct = !showNewProduct"> Post </button> <br> <span *ngIf="showNewProduct"> <a
        routerLink="/post"> New Phone Product </a> <br> <a routerLink="/price"> New Phone Product Price </a> <br> <a
        routerLink="/rating"> New Phone Product By Rating
      </a> <br> <a routerLink="/brand"> New Phone Product By Brand </a> </span>

  </li>
  <li><button (click)="getNewProduct = !getNewProduct"> Get </button> <br> <span *ngIf="getNewProduct"> <a
        routerLink="/get"> Phone Product List </a> <br> <a routerLink="/mid"> Middle Letters of the Brands </a> <br> <a
        routerLink="/black"> Black Phone List </a> <br> <a routerLink="/lasttwo"> Last Two Data </a> <br> <a
        routerLink="/duplicate"> Non Duplicate Data </a> <br> <a routerLink="/descending"> Descending Order List </a>
      <br> <a routerLink="/prime"> Prime Id List </a>
    </span> </li>

  <li><button (click)="updateNewProduct = !updateNewProduct"> Update </button> <br> <span *ngIf="updateNewProduct"> <a
        routerLink="/changecolor"> Color Change to Grey </a> <br> <a routerLink="/update"> Update By Rating </a> </span> </li>

  <li> <button (click)="deleteProduct = !deleteProduct"> Delete </button> <br> <span *ngIf="deleteProduct"> <a
        routerLink="/delete"> Detele By Rating </a> </span> </li>
</ul>

<router-outlet> </router-outlet>