<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table Page</title>
  </head>
<h1>Phone Products</h1>
<table>
    <thead>
        <tr>
            <th>S.No</th>
            <th>Id</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Color</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let phone of phones; let i=index">
            <td>{{i+1}}</td>
            <td>{{phone.id}}</td>
            <td>{{phone.brand}}</td>
            <td>{{phone.price}}</td>
            <td>{{phone.color}}</td>
            <td>{{phone.rating}}</td>
        </tr>
    </tbody>
</table>
